@import '~antd/es/style/themes/default.less';

.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(111, 111, 111, 0.65), rgba(111, 111, 111, 0.65)),
    url('https://api.vvhan.com/api/bing');

  :global {
    .main {
      width: 408px;

      .password {
        margin-bottom: 24px;
        :global {
          .ant-form-item-explain {
            display: none;
          }
        }
      }

      .getCaptcha {
        display: block;
        width: 100%;
      }

      .submit {
        width: 50%;
      }

      .login {
        float: right;
        line-height: @btn-height-lg;
      }
    }

    .success,
    .warning,
    .error {
      transition: color 0.3s;
    }

    .success {
      color: @success-color;
    }

    .warning {
      color: @warning-color;
    }

    .error {
      color: @error-color;
    }

    .progress-pass > .progress {
      :global {
        .ant-progress-bg {
          background-color: @warning-color;
        }
      }
    }
  }
}
