@import '~antd/es/style/themes/default.less';

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(111, 111, 111, 0.65), rgba(111, 111, 111, 0.65)),
    url('https://api.vvhan.com/api/bing');

  :global {
    #form-login .login-form {
      width: 360px;
    }
    #form-login .login-form-forgot {
      float: right;
    }

    .login-button {
      width: 50%;
    }

    .register {
      float: right;
      line-height: @btn-height-lg;
    }
  }
}
